/***********************************************************/
/*         CUSTOM STYLES FOR REDIRECT PAGES
/----------------------------------------------------------*/

/* main body for redirect pages */
body.bodyECommRedirect
{
    background-color: #a3221c;        
}

/* header image using CSS */
#divHeaderImage
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/dgopizzaheader.jpg');
    background-repeat: repeat-x;
    height: 150px;
}

/* Credit card logos are hidden with display:none */
#divJCB
{
    display: none;
}

/* image can actually be put behind any div */
.divTotalDefault
{    
    background-image:url('http://localhost:4307/HostedCheckout.CSharp/Images/background2.png');
    background-repeat: repeat;
    text-align: center;
}


/* style for all of the textboxes */
.txtCustom
{
    border-radius: 30px;   /* gives a rounding effect.  Not supported by IE8, will just look square */
}

/* this is the styling for all of the textboxes when they are in the inactive state */
.watermarkCustom
{
    background-color: #c9c7b8;
    border-radius: 30px;   /* border-radius for watermarks need to match the textboxes, or inactive textbox will be 'square' */
}

/* style for all of the labels on eCommm redirect pages */
.lblDefault
{
    color: White;
    font-style: italic;
    font-size: medium;
}

/* the 'Enter Credit Card Information' header */
.lblHeader
{
    color: White;
    font-style: italic;
    font-size: x-large;
}

/* Order Total & Amount */
.lblTotalAmount
{
    color: Black;
    font-size: xx-large;
}

/************************************************************/
/* CUSTOM STYLES FOR IFRAME PAGES                           */
/************************************************************/

/* styling for main body of iFrame pages */
 body.bodyECommIFrame
{
    background-color: #a3221c  ;
    font-size: .70em;
    font-family:  Arial;
    margin: 0px;
    padding: 0px;
    color: Red;
}

/* styling for the total amount box at top of iFrame pages */
.divTotalIFrameDefault
{
    background-color: transparent;
    text-align: center;
    width: 100%;
} 

/* Use display:none to hide the security logo */
.divSecurityLogoIFrame
{
    display: none;
}

/* Note that a header image or style can be added via CSS to IFrame pages */
/*#divHeaderImageIFrame
{   
}
*/

.btnDefaultMobileIFrame
{
    background-color: #990000;
    color: White;
    height: 44px;
    font-weight: bold;
    width: 180px;
}


/************************************************************/
/* CUSTOM STYLES FOR MOBILE PAGES                           */
/************************************************************/

/* styling for cancel button on mobile pages */
#btnCancelMobile
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/button.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    border: none;
    color: Black;
}

/* styling for cancel button when mouse hovers */
#btnCancelMobile:hover
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/button_hover.png'); 
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    border: none;
}

/* styling for submit button on mobile pages */
#btnSubmitMobile
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/button.png');  
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    border: none;
    color: Black;
}

/* styling for submit button when mouse hovers */
#btnSubmitMobile:hover
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/button_hover.png'); 
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    border: none;
}

/* Add card button */
#btnUpdateMobile
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/button.png');  
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    border: none;
    color: Black;
}

/* Add card button */
#btnUpdateMobile:hover
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/button_hover.png'); 
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    border: none;
}


/* styling for main body of mobile pages */
body.bodyMobile
{
    background-color: White;    
    width: 100%;
}

/* styling for the total amount at top of mobile page */
.divTotalMobileDefault
{
    background-color: #a3221c  ;
    border-radius: 10px;
    color: White;
}

/* styling for the text inside of the total amount box */
.lblTotalAmountMobile
{
    color: White;
}

/* header image for mobile pages */
#divHeaderImageMobile
{
     background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/DgoPizzaHeaderNew.jpg');
     background-size: 100%;
     background-repeat: no-repeat;
     height: 150px; 
}

/************************************************************/
/*          STYLES FOR MOBILE IFRAME                        */
/************************************************************/


.btnDefaultMobileIFrame
{
    background-color: #990000;
    color: White;
    height: 35px;
    font-weight: bold;    
    font-size: medium;
}

#divFooterMobileIFrame
{
    margin-top: 10px;
}

#divButtonsMobileIFrame
{
    margin-top: 0px;    
    text-align: center;
    
}

body.bodyMobileIFrame
{
    background-color:   white; 
}

.divTotalMobileIFrameDefault
{
    background-color: #345921;
    margin-top: -10px;
    height: 20px;
    
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    color:White;
    font-variant: small-caps;
    margin-left: -20px;
    display: none;    

}

.lblTotalAmountMobileIFrame
{
    color: White;
    font-weight: bold;
    font-size: medium;
}


/************************************************************/
/* CUSTOM STYLES FOR POS PAGES                              */
/************************************************************/

/* A header image or style can be added via CSS to POS  pages */
#divHeaderImagePOS
{
    background-image: url('http://localhost:4307/HostedCheckout.CSharp/Images/DgoPizzaHeader.jpg');
    height: 150px;
}

/* styling for the keypad area */
.divKeypad
{
    margin-top: 70px; /* the keypad can be moved down a bit */    
}

/* styling for all of the keypad buttons except the '0' button */
.btnKeypad
{    
    font-size: large;
}

/* styling for the '0' button */
.btnKeypad0
{
    font-size: large;
}

/* styling for all of the POS buttons */
.btnDefaultPOS
{
   background-color: white;
   color: black;
   border-left-color: green;
   border-right-color: #a3221c;
   border-right-width: 6px;
   border-left-width: 6px;
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-style: solid;
   margin-right: 20px;
   font-size: x-large;
}

.btnDefaultIFramePOS
{
   background-color: white;
   color: black;
   border-left-color: green;
   border-right-color: #a3221c;
   border-right-width: 6px;
   border-left-width: 6px;
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-style: solid;
   margin-right: 20px;
   font-size: x-large;
}

.btnDefaultIFramePOS:hover
{
   border-left-color: green;
   border-right-color: #a3221c;
   border-right-width: 6px;
   border-left-width: 6px;
   border-top-width: 1px;
   border-bottom-width: 1px;
   background-color: #efefea;
   font-size: x-large;
}

.btnDisabledPOS
{
   font-size: x-large;
   background-color: #f5f4ea;
   color: #bbbbbb;
   border-left-color: #aabbaa;
   border-right-color: #bbaabb;
   border-right-width: 6px;
   border-left-width: 6px;
   border-top-width: 1px;
   border-bottom-width: 1px;
}


/* Contains the total at the top of the POS page */
.divTotalPOSDefault 
{
    background-color: #a3221c  ;
    width: 920px; 
    text-align: center;    
    margin-top: 10px;    
    
}

/* Total Amount Label for POS */
.lblTotalAmountPOS
{
    color: White;
}


/* a and a:hover affect the link to the legal text on all of the pages */
a
{
    color: Gray;
    font-weight: bold;
}

a:hover
{
    font-weight: bold;
    color: Black;

}

/* this affects the text styling in the footer on all of the pages */
.lblFooter
{
    color: White;    
    margin-top: 10px;
} 


