<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="LogoURL" value="http://localhost:4307/HostedCheckout.CSharp/images/dgoPizzaHeader.jpg"/>
        <add key="SubmitBtnDefaultUrl" value="http://localhost:4307/HostedCheckout.CSharp/images/submit.PNG"/>
        <add key="SubmitBtnHoverUrl" value="http://localhost:4307/HostedCheckout.CSharp/images/submit_hover.PNG"/>
        <add key="CancelBtnDefaultUrl" value="http://localhost:4307/HostedCheckout.CSharp/images/cancel.PNG"/>
        <add key="CancelBtnHoverUrl" value="http://localhost:4307/HostedCheckout.CSharp/images/cancel_hover.PNG"/>

        <add key="ReturnURL" value="http://localhost:4307/HostedCheckout.CSharp/ShoppingCart.aspx"/>
        <add key="ReturnURLIFrame" value="http://localhost:4307/HostedCheckout.CSharp/ReturnPageIFrame.aspx"/>
        <add key="ReturnURL_POS" value="http://localhost:4307/HostedCheckout.CSharp/ShoppingCartPOS.aspx"/>
        <add key="ProcessCompleteURL" value="http://localhost:4307/HostedCheckout.CSharp/ordercomplete.aspx"/>
        <add key="ProcessCompleteURLIFrame" value="http://localhost:4307/HostedCheckout.CSharp/ordercompleteIFrame.aspx"/>
        <add key="ProcessCompleteURL_POS" value="http://localhost:4307/HostedCheckout.CSharp/ordercomplete.aspx"/>
        <add key="ProcessCompleteURLIFramePOS" value="http://localhost:4307/HostedCheckout.CSharp/ordercompleteIFramePOS.aspx"/>
        <add key="ReturnURL_CardInfo" value="http://localhost:4307/HostedCheckout.CSharp/AddCard.aspx"/>
        <add key="ReturnURLIFrame_CardInfo" value="http://localhost:4307/HostedCheckout.CSharp/AddCardIFrameReturnPage.aspx"/>
        <add key="ReturnURL_CardInfo_POS" value="http://localhost:4307/HostedCheckout.CSharp/AddCardPOS.aspx"/>
        <add key="ReturnURLIFrame_CardInfo_POS" value="http://localhost:4307/HostedCheckout.CSharp/AddCardIFrameReturnPage.aspx"/>
        <add key="ProcessCompleteURL_CardInfo" value="http://localhost:4307/HostedCheckout.CSharp/AddCardComplete.aspx"/>
        <add key="ProcessCompleteURLIFrame_CardInfo" value="http://localhost:4307/HostedCheckout.CSharp/AddCardCompleteIFrame.aspx"/>

        <add key="HostedCheckoutURLIFrame" value="https://hc.mercurycert.net/CheckoutIFrame.aspx"/>
        <add key="HostedCheckoutURL_POSIFrame" value="https://hc.mercurycert.net/CheckoutPOSIFrame.aspx"/>
        <add key="HostedCheckoutURLIFrame" value="https://hc.mercurycert.net/CheckoutIFrame.aspx"/>
        <add key="HostedCheckoutURL_POSIFrame" value="https://hc.mercurycert.net/CheckoutPOSIFrame.aspx"/>
        <add key="HostedCheckoutURL" value="https://hc.mercurycert.net/Checkout.aspx"/>
        <add key="HostedCheckoutURL_POS" value="https://hc.mercurycert.net/CheckoutPOS.aspx"/>
        
        <add key="HC_CardInfoURL" value="https://hc.mercurycert.net/cardinfo.aspx"/>
        <add key="HC_CardInfoURLIFrame" value="https://hc.mercurycert.net/cardinfoiframe.aspx"/>
        <add key="HC_CardInfoURL_POS" value="https://hc.mercurycert.net/cardinfopos.aspx"/>
        
        
        <add key="HC_CardInfoURL_POSIFrame" value="https://hc.mercurycert.net/cardinfoposiframe.aspx"/>

        <add key="TestToken" value="xBarQ15LJu0GqqJdk0JqbQ0IEWgps8FulCpWtFQ0EYMiERIQACMQAbly"/>
        <add key="MerchantID" value="778825001"/>
        <add key="OperatorID" value="TEST"/>
        <add key="HCPassword" value="$6a!a#aa.DHWgD9L"/>

        <add key="GiftAccount" value="6050110000017180474"/>
        <add key="GiftCVV" value="123"/>
        <add key="GiftAmount" value="0.10"/>

        <add key="HCService.HCService" value="https://hc.mercurycert.net/hcws/HCService.asmx"/>
        <add key="TransactionService.TransactionService" value="https://hc.mercurycert.net/tws/TransactionService.asmx"/>
        <add key="TransactionServiceGift.transactionservicegift" value="https://hc.mercurycert.net/tws/transactionservicegift.asmx"/>

        <add key="Mobile_LogoURL" value="http://localhost:4307/HostedCheckout.CSharp/Images/DgoPizzaHeader.jpg"/>
        <add key="Mobile_HostedCheckoutURL" value="https://hc.mercurycert.net/mobile/mCheckout.aspx"/>
        <add key="Mobile_ProcessCompleteURL" value="http://localhost:4307/HostedCheckout.CSharp/mobile/mOrderComplete.aspx"/>
        <add key="Mobile_ReturnURL" value="http://localhost:4307/HostedCheckout.CSharp/mobile/mOrder.aspx"/>
        <add key="Mobile_HC_CardInfoURL" value="https://hc.mercurycert.net/mobile/mCardInfo.aspx"/>
        
      <add key="Mobile_ReturnURL_POS" value="http://localhost:4307/HostedCheckout.CSharp/mobile/mOrderComplete.aspx"/>
        <add key="Mobile_Mercury_POS_Url" value="https://hc.mercurycert.net/CheckoutPOS.aspx"/>
    
    <add key="Mobile_ProcessCompleteURL_CardInfo" value="http://localhost:4307/HostedCheckout.CSharp/mobile/mAddCardComplete.aspx"/>
        <add key="Mobile_ReturnURL_CardInfo" value="http://localhost:4307/HostedCheckout.CSharp/mobile/mAddCard.aspx"/>
        <add key="CssURL" value="http://localhost:4307/HostedCheckout.CSharp/SandBox/ecomm_1234.css"/>
  
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.6"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>